{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Navigation {% endblock %}</h1>
    <button onclick="start()">Start</button>
    <button onclick="moveForward()">Move Forward</button>
    <button onclick="moveBackward()">Move Backward</button>
    <button onclick="turnLeft()">Turn left</button>
    <button onclick="turnRight()">Turn right</button>
    <button onclick="stop()">Stop</button>
    <script>
        function start(){
            fetch('/start')
        }
        function moveForward() {
            fetch('/move_forward');
        }

        function moveBackward() {
            fetch('/move_backward');
        }

        function turnLeft() {
            fetch('/turn_left');
        }

        function turnRight() {
            fetch('/turn_right');
        }
        function stop() {
            fetch('/stop');
        }
    </script>
{% endblock %}